<div style="margin-top:0; margin-bottom:0; margin-right:0; margin-left:0; padding-top:0; padding-bottom:0; padding-right:0; padding-left:0; background-color:#f5f5f5">
  <table width="660" border="0" align="center" cellpadding="0" cellspacing="0" class="x_container">
  <tbody>
  <tr>
  <td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="f5f5f5">
  <tbody>
  <tr>
  <td height="20" colspan="3"></td>
  </tr>
  <tr>
  <td width="5%" align="left" valign="middle"></td>
  <td width="25%" align="left" valign="middle"><a href="http://serasadip.intaface.com/t/n/d-l-52a011fe2fc111e895634d988a932180-l-r-r-l/" target="_blank" rel="noopener noreferrer"><img data-imagetype="External" src="http://nsa39.casimages.com/img/2018/03/25/18032506002761494.png" width="177" height="54" border="0" align="left"></a></td>
  <td width="499" align="left" valign="middle">&nbsp;</td>
  </tr>
  <tr>
  <td height="20" colspan="3"></td>
  </tr>
  </tbody>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="ffffff">
  <tbody>
  <tr>
  <td height="30"></td>
  <td></td>
  <td></td>
  </tr>
  <tr>
  <td height="30"></td>
  <td><font style="font-family:Arial; font-size:170%; color:#C12A33" face="Arial, serif, EmojiFont"><strong>Perdeu sua senha? </strong></font></td>
  <td></td>
  </tr>
  <tr>
  <td width="5%" style="background-color:#fff">&nbsp;</td>
  <td style="background-color:#fff">
  <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" class="x_container-m">
  <tbody>
  <tr>
  <td align="left" valign="middle">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
  <td><font style="font-family:Arial; font-size:20px; color:#1F2930" face="Arial, serif, EmojiFont">Não tem problema. <br>
    <strong>Você pode criar outra.</strong></font>
  </td>
  </tr>
  <tr>
  <td height="20"></td>
  </tr>
  <tr>
  <td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
  <td width="12%" valign="top" class="x_ico"><img data-imagetype="External" src="http://nsa39.casimages.com/img/2018/03/25/180325060844337691.png" width="100%" border="0" align="left" class="x_ico"></td>
  <td width="5%" class="x_ico">&nbsp;</td>
  <td valign="top"><font style="font-family:Arial; font-size:14px; color:#1F2930" face="Arial, serif, EmojiFont">Geramos este <strong style="color:#C12A33">Token</strong> para você:<br>
  <br>
  <span style="background: #C12A33; padding: 5px;color: #ffffff">{{ token }}</span></font></td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
  <td height="40">&nbsp;</td>
  </tr>
  <tr>
  <td>
  <table width="180" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="C12A33">
  <tbody>
  <tr>
  <td align="center" height="45" width="180"><a href="http://serasadip.intaface.com/t/n/d-l-52a011fe2fc111e895634d988a932180-l-y-r-l/" target="_blank" rel="noopener noreferrer" style="font-family:Arial; font-size:16px; color:#ffffff; text-decoration:none">Acessar site</a></td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  <tr>
  <td height="40">&nbsp;</td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>
  </td>
  <td width="5%" style="background-color:#fff">&nbsp;</td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  <tr>
  <td>
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="line-height:100%!important">
  <tbody>
  <tr>
  <td height="70" align="center" valign="middle" bgcolor="#f1f1f1" style="border-top-width:1px; border-top-style:solid; border-top-color:#C12A33">
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
  <tr>
  <td><font style="font-family:Arial; font-size:10px; color:#686868" face="Arial, serif, EmojiFont">Esta mensagem foi enviada a você pela Express API. Por favor, não a responda. <br>
  Você recebeu esta mensagem, pois a alteração de senha foi solicitada. <br>
  Caso não tenha solicitado a troca de senha, desconsidere esta mensagem.</font> </td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  <tr>
  <td bgcolor="ffffff" height="60" style="border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#C12A33">
  <table width="140" border="0" cellspacing="0" cellpadding="0">
  <tbody>
  <tr>
  <td width="40">&nbsp;</td>
  <td width="120"><font style="font-family:Arial; font-size:14px; color:#C12A33" face="Arial, serif, EmojiFont">Via <a href="#expressApi" style="color:#C12A33;text-decoration:none;font-weight: bold;">Express API</a></font></td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table>
  <br>
  <img data-imagetype="External" src="https://serasadip.cmail19.com/t/n/d-o-52a011fe2fc111e895634d988a932180-l-l/o.gif" width="1" height="1" border="0" alt="" style="visibility:hidden!important; display:block!important; height:1px!important; width:1px!important; border-width:0!important; margin-top:0!important; margin-bottom:0!important; margin-right:0!important; margin-left:0!important; padding-top:0!important; padding-bottom:0!important; padding-right:0!important; padding-left:0!important"> </div>